{% extends "base.html" %}

{% block content %}

    <p>Id: {{ ou.ou_id }}</p>
    <h3>Name: {{ ou.ou_name|capfirst }}</h3>
    {% if ou.manager %}
        <p>OU Manager:
            <a href="{% url 'org:person_detail' ou.manager.id %}">
                {{ ou.manager }}
            </a>
        </p>
    {% endif %}
    {% if ou.parent_ou %}
        <p>Parent Org Unit:
            <a href="{% url 'org:ou_detail' ou.parent_ou.id %}">
                {{ ou.parent_ou }}
            </a>
        </p>
    {% endif %}

    {% for person in ou.person_set.all %}
        <li>{{ person.full_name }}</li>
    {% endfor %}
        
    {% if ou.comments %}
        <p>
            <p/>Comments :<p/>
            {{ ou.comments }}
        </p>
    {% endif %}
    <p>Active? : {{ ou.is_active }}</p>
    <form action="{% url 'org:ou_edit' ou.id %}" method="get">
        <input type="submit" value="Edit">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>date/time</th>
                <th>change made</th>
                <th>responsible</th>
            </tr>
        </thead>
        <tbody>
            {% for change in changes %}  
                <tr>
                    <td>{{ change.new_record.ou_id }}</td>
                    <td>{{ change.new_record.history_date }}</td>
                    <td>
                        {% if change.changed_fields|length > 0 %}
                            {% for change_by_id in change.changes %}
                                The field:<b>{{ change_by_id.field|title }}</b> was changed from:
                                {% if change_by_id.old %}
                                <b>{{ change_by_id.old }}</b>
                                    {% else %}
                                    <b>blank field</b>
                                {% endif %}
                                for <b>{{ change_by_id.new }}</b>
                                <br>
                            {% endfor %}
                        {% else %}
                            There were no changes 
                        {% endif %}
                    </td>
                    <td>{{ change.new_record.history_user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}